body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    display: flex;
    margin: 5% auto;
    width: 80%;
    height: 100%;
    padding: 5%;
    background: url("weather.jpg") center;
    background-size: cover;
}

h1 {
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
}

.title-container {
    text-shadow: 2px 1px darkred;
}

.date {
    padding-top: 6%;
    
}

.weather {
    font-size: 20px;
}

.btn {
    margin-top: -5px;
}

.error {
    margin-top: 3%;
    padding-top: 2%;
    color: midnightblue;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.time {
    text-align: center;
    font-size: 30px;
}

.result {
    text-align: center;
}
